<table class="table" [class]="{'table-hover': hasHover}">
  <thead>
    <tr>
      @for (title of titles; track $index) {
        <th scope="col">{{title.name}}</th>
      }

      @if (buttons.length > 0) {
        <th scope="col" class="text-end">Ações</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (item of data; track $index) {
      <tr>
        @for (title of titles; track $index) {
          <td>
            {{item[title.dataField]}}
          </td>
        }

        @if (buttons.length > 0) {
          <td class="text-end">
            <div class="d-flex justify-content-end gap-2">
            @for (button of buttons; track $index) {
              @if (button.show(item)) {
                <button class="btn btn-outline-primary" type="button" (click)="button.action(item)">
                  
                  @if(button.icon) {
                    <img [src]="button.icon" class="button-icon">
                  }

                  {{button.name}}
                </button>
              }
            }
            </div>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
