<div class="container">
    <form>
        <div class="row mb-3 mt-5">
            <div class="col">
                <h1>Cadastro de {{ personTypeLabel }}</h1>
            </div>
        </div>

        <!-- Common Fields -->
        <div class="row mb-3">
            <div class="col-7">
                <app-input-field [field]="formName" [label]="personNameLabel" inputId="name" />
            </div>

            <div class="col-5">
                <app-input-field [field]="formSurname" [label]="personSurnameLabel" inputId="surname" />
            </div>
        </div>

        <div class="row mb-3">
            <div [class.col-3]="isNaturalPerson()" [class.col-6]="!isNaturalPerson()">
                <app-input-field
                    [field]="formStateDocument"
                    [label]="personStateDocumentLabel"
                    inputId="stateDocument" />
            </div>

            <div [class.col-3]="isNaturalPerson()" [class.col-6]="!isNaturalPerson()">
                <app-input-field
                    [field]="formFederalDocument"
                    [label]="personFederalDocumentLabel"
                    inputId="federalDocument" />
            </div>

            <!-- Natual Person -->
            @if (isNaturalPerson()) {
                <div class="col-3">
                    <label for="sex" class="form-label">{{ personSexLabel }}</label>
                    <app-input-field
                        [field]="formSex"
                        [label]="personSexLabel"
                        inputId="sex"
                        type="select"
                        [options]="personSexOptions()" />
                </div>

                <div class="col-3">
                    <app-input-field
                        [field]="formBirthDate"
                        [label]="personBirthDateLabel"
                        inputId="personBirthDate"
                        [type]="'date'" />
                </div>
            }
        </div>

        <!-- Legal Entities -->
        @if (!isNaturalPerson()) {
            <div class="row mb-3">
                <div class="col">
                    <app-natural-person-search
                        [naturalPerson]="selectedNaturalPerson"
                        (onSelect)="onNaturalPersonSelect($event)" />
                </div>
            </div>
        }

        <div class="row mb-3">
            <div class="col-auto">
                <app-input-field
                    [fieldBool]="formActive"
                    [label]="personActiveLabel"
                    inputId="active"
                    type="checkbox" />
            </div>
        </div>

        <br />
        <hr />
        <!-- Address -->
        @if (isAddressModeList()) {
            <app-address-list
                [addresses]="addresses"
                (onNew)="onAddressNew()"
                (onEdit)="onAddressEdit($event)"
                (onUpdateActive)="onAddressUpdateActive($event)" />

            <div class="row">
                <div class="col text-end d-grid d-sm-block gap-2">
                    @if (isSaveAction) {
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    } @else {
                        <button (click)="onCancelAction()" type="button" class="btn btn-danger me-2">
                            <img src="assets/images/cancelar.png" />
                            <span>Cancelar</span>
                        </button>
                        <button
                            [disabled]="isDisabledSaveAction"
                            (click)="onSaveAction()"
                            type="button"
                            class="btn btn-primary me-2">
                            <img src="assets/images/salvar.png" />
                            <span>Salvar</span>
                        </button>
                    }
                </div>
            </div>
        } @else {
            <app-address-form
                [addressEvent]="addressEvent"
                (onSave)="onAddressFormSave($event)"
                (onCancel)="onAddressFormCancel()" />
        }
    </form>
</div>
