<div class="container">
    <form>
        <div class="row mb-3 mt-5">
            <div class="col">
                <h1>Cadastro de {{personTypeLabel}}</h1>
            </div>
        </div>

        <!-- Common Fields -->
        <div class="row mb-3">
            <div class="col-7">
                <label for="name" class="form-label">{{personNameLabel}}</label>
                <input [formField]="formName" type="text" class="form-control" id="name" />
                @if (formName().touched() && formName().invalid()) {
                <div class="invalid-feedback d-block">
                    @for (error of formName().errors(); track $index) {
                    <small>{{error.message}}</small>
                    }
                </div>
                }
            </div>

            <div class="col-5">
                <label for="surname" class="form-label">{{personSurnameLabel}}</label>
                <input [formField]="formSurname" type="text" class="form-control" id="surname" />
                @if (formSurname().touched() && formSurname().invalid()) {
                <div class="invalid-feedback d-block">
                    @for (error of formSurname().errors(); track $index) {
                    <small>{{error.message}}</small>
                    }
                </div>
                }
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-3">
                <label for="stateDocument" class="form-label">{{personStateDocumentLabel}}</label>
                <input [formField]="formStateDocument" type="text" class="form-control" id="stateDocument" />
                @if (formStateDocument().touched() && formStateDocument().invalid()) {
                <div class="invalid-feedback d-block">
                    @for (error of formStateDocument().errors(); track $index) {
                    <small>{{error.message}}</small>
                    }
                </div>
                }
            </div>

            <div class="col-3">
                <label for="federalDocument" class="form-label">{{personFederalDocumentLabel}}</label>
                <input [formField]="formFederalDocument" type="text" class="form-control" id="federalDocument" />
                @if (formFederalDocument().touched() && formFederalDocument().invalid()) {
                <div class="invalid-feedback d-block">
                    @for (error of formFederalDocument().errors(); track $index) {
                    <small>{{error.message}}</small>
                    }
                </div>
                }
            </div>

            <!-- Natual Person -->
            @if (isNaturalPerson()) {
            <div class="col-3">
                <label for="sex" class="form-label">{{personSexLabel}}</label>
                <select [formField]="formSex" class="form-select" id="sex">
                    <option value="M">{{personSexMaleLabel}}</option>
                    <option value="F">{{personSexFemaleLabel}}</option>
                </select>
                @if (formSex().touched() && formSex().invalid()) {
                <div class="invalid-feedback d-block">
                    @for (error of formSex().errors(); track $index) {
                    <small>{{error.message}}</small>
                    }
                </div>
                }
            </div>

            <div class="col-3">
                <label for="birthDate" class="form-label">{{personBirthDateLabel}}</label>
                <input [formField]="formBirthDate" type="date" class="form-control" id="birthDate" />
                @if (formBirthDate().touched() && formBirthDate().invalid()) {
                <div class="invalid-feedback d-block">
                    @for (error of formBirthDate().errors(); track $index) {
                    <small>{{error.message}}</small>
                    }
                </div>
                }
            </div>

            <!-- Campos exclusivos de Pessoa Jurídica -->
            } @else {
            <!-- Legal Entities -->
            <div class="col-6">
                <label for="naturalPersonId" class="form-label">{{personNaturalPersonIdLabel}}</label>
                <input [value]="naturalPersonSearchById()" type="number" class="form-control" id="naturalPersonId" />
            </div>
            }
        </div>

        <!--Ainda vou decidir como fazer-->
        <!-- @if (formNaturalPersonId().value() !== null) {
        <div class="row mb-3">
            <div class="col-4">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" [value]="selectedNaturalPerson.name" readonly />
            </div>

            <div class="col-3">
                <label class="form-label">CPF</label>
                <input
                    type="text"
                    class="form-control"
                    [value]="selectedNaturalPerson.federalDocument.number"
                    readonly
                />
            </div>

            <div class="col-2">
                <label class="form-label">Sexo</label>
                <input type="text" class="form-control" [value]="selectedNaturalPerson.sex" readonly />
            </div>

            <div class="col-3">
                <label class="form-label">Data de Nascimento</label>
                <input type="date" class="form-control" [value]="selectedNaturalPerson.birthDate" readonly />
            </div>
        </div>
        } -->

        <br />
        <hr />
        <!-- Address -->
        @if (isAddressModeList()) {
        <app-address-list [addresses]="addresses" (onNew)="onAddressNew()" (onEdit)="onAddressEdit($event)" />

        <div class="row">
            <div class="col text-end d-grid d-sm-block gap-2">
                @if (isSaveAction) {
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                } @else {
                <button (click)="onCancelAction()" type="button" class="btn btn-danger me-2">
                    <img src="assets/images/cancelar.png" />
                    <span>Cancelar</span>
                </button>
                <button
                    [disabled]="isDisabledSaveAction"
                    (click)="onSaveAction()"
                    type="button"
                    class="btn btn-primary me-2"
                >
                    <img src="assets/images/salvar.png" />
                    <span>Salvar</span>
                </button>
                }
            </div>
        </div>
        } @else {
        <app-address-form
            [addressEvent]="addressEvent"
            (onSave)="onAddressFormSave($event)"
            (onCancel)="onAddressFormCancel()"
        />
        }
    </form>
</div>
