<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="text-center p-5 shadow-lg rounded-4 bg-white border border-danger">
        <h1 class="display-1 fw-bold text-danger">401</h1>
        <h2 class="mb-3">Acesso Não Autorizado</h2>
        <p class="lead text-muted mb-4">
            Ops! Parece que você tentou acessar uma área restrita sem as permissões necessárias.
        </p>
        <button routerLink="/login" class="btn btn-danger px-5 py-2">Faça o Login novamente</button>
    </div>
</div>
